<mat-toolbar color="primary">
  <strong>Miluim 23</strong>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/">Home</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/users">Users</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/shavzak">Users</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: 600px;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>