<mat-toolbar color="primary">
  <strong>Miluim 23</strong>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="/">
        Home
      </mat-list-item>
      <mat-list-item routerLink="/users" >
        Users
      </mat-list-item>
      <mat-list-item routerLink="/shavzak">
        Shavzak
      </mat-list-item>
      <mat-list-item routerLink="/shavzak-planner">
        Shavzak Planner
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: 600px;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>